header {
  width: 100%;
  display: flex;
  padding: 15px;
  position: fixed;
  color: #5892ddee;
  font-size: 12px;
  font-family: 'Benne', serif;
  font-style: italic;
  background: rgba(39, 38, 38, 0.589);
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  margin-right: 10px;
}
