header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid white;
  padding: 15px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0px;
}

p {
  margin: 0px;
  padding: 5px;
}

li {
  margin: 0px 25px;
  font-size: 25px;
  font-family: 'Satisfy';
}

h1 {
  margin: 0;
  margin-right: 10px;
}

.nav_item {
  text-decoration: none;
  color: rgb(14, 27, 104);
}
.nav_activ {
  text-decoration: overline;
  font-weight: bold;
  color: white;
}
