.task {
  display: flex;
  background: rgb(89, 109, 146);
}
th {
  align-items: center;
  input {
    display: inline-block;
  }
}

.task_item {
  background: rgba(117, 146, 228, 0.5);
  border-radius: 0px;
}

.status_option {
  background: cornflowerblue;
}

.rejected {
  text-decoration: line-through;
}

.css-e56m7-control {
  width: 100%;
  background-color: inherit;
}
