.task {
  display: flex;
  background: rgb(19, 165, 141);
}
th {
  align-items: center;
  input {
    display: inline-block;
  }
}

.status_option {
  background: cornflowerblue;
}

.rejected {
  text-decoration: line-through;
}

.css-e56m7-control {
  width: 100%;
  background-color: inherit;
}
