.section_timer {
  background-image: url(https://ik.imagekit.io/s2fpg15d4rx/faf15a240739a91c1c5a72afd61dd6e9_2gnqjDNDen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

.timer {
  color: white;
  font-size: 120px;
  margin: 0px;
  margin-left: 20px;
}
