.main_page {
  display: flex;
  font-family: 'Satisfy';
}

h2 {
  font-size: 25px;
  font-family: 'Satisfy';
  text-transform: uppercase;
  word-wrap: break-word;
}

.main_advice {
  padding: 10px 20px;
}

.main_img {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: calc(100% / 2);
}
img {
  display: block;
  max-width: 500px;
}
