.box_infoTask {
  margin: 20px 10px;
  background: linear-gradient(45deg, #1d1957, #c4d2da);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 2px rgba(83, 81, 129, 0.603);
}

.list_info {
  display: block;
  padding: 0px;
  padding: 5px;
}

.item_info {
  padding: 5px;
  margin: 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
}

.item_count {
  font-size: 15px;
}
.text {
  font-size: 20px;
  text-align: center;
}
.date {
  margin-left: 10px;
}
.status {
  font-size: 15px;
}
