body {
  margin: 0;
  font-family: 'Satisfy', cursive 'Uchen', serif 'Yellowtail', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://ik.imagekit.io/s2fpg15d4rx/background2_NnlHqn1vS.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
